<div class="container col-xs-12 basicBlock">
    <table class="table">
        <tr>
            <td class="col-xs-6">
                <div class="backImgFor404" style="background-image: url('https://gw.alipayobjects.com/zos/rmsportal/KpnpchXsobRgLElEozzI.svg')">
    
                </div>
            </td>
            <td style="vertical-align:middle">
                <div>
                    <h1 style="font-size:72px">404</h1>
                    <div class="titleFor404">抱歉，您访问的页面不存在</div>
                    <a href="#!/app/index">
                        <button type="submit" class="btn btn-info">返回首页</button>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>