
/* ===================================
	ORANGE COLORS
====================================== */

/* ===================================
	BACKGROUND COLOR
====================================== */
.background-three {
	background-color: #7CD552;
}

/* ===================================
	HIGHLIGHT
====================================== */
span.clean-color-contras{
	color: #7CD552;
}

/* ===================================
	SOLID BUTTON
====================================== */
.clean-button-solid{
	background-color: #7CD552;
}

.clean-button-solid:hover{
	opacity: 0.7;
}

/* ===================================
	OUTLINE BUTTON
====================================== */
.clean-button-outline-light:hover{
	background-color: #7CD552
}

/* ===================================
	DARK BUTTON
====================================== */
.clean-button-outline-dark:hover{
	background-color: #7CD552;
}

/* ===================================
	ROUND BTN
====================================== */
.clean-btn-round{
	background-color: #7CD552;
}

.clean-btn-round:hover{
	opacity: 0.7;
}

/* ===================================
	ICON
====================================== */
.clean-blurb-icon-only i{
	color: #7CD552;
}

.clean-blurb-icon-only h3{
	color: #7CD552
}

/* ===================================
	ROUND ICON
====================================== */
.clean-blurb-round-icon:hover .clean-icon{
	background-color: #3666ff;
}

.clean-icones .clean-icon i {
	color: #dadada;
}

.clean-blurb-round-icon:hover h3{
	color: #3666ff;
}

/* ===================================
	ICON SQUARE
====================================== */
.clean-icones:hover .clean-blurb-text h3{
	color: #7CD552;
}

.clean-icones:hover .clean-blurb-text h3:after{
	background-color: #7CD552;
}

.clean-icones .clean-blurb-text h3:after {
	background-color: #7CD552;
}

.clean-icones .clean-icon:hover {
	background-color: #7CD552;
	border: none;
	color: #fff;
}

.clean-icones .clean-icon:hover i{
	background-color: #7CD552;
	border: none;
	color: #fff;
}

.clean-main-menu .navbar-nav li a:hover{
    color: #7CD552;
}

.clean-main-menu .navbar-nav li a{
	color: #fff;
}

.clean-slider .sp-selected-button {
  	background-color: #7CD552;
}

.clean-member-details h3{
	color: #7CD552;
}

.clean-line{
	background-color: #7CD552;
}

.clean-counter-item h3:after {
	background-color: #fff;
}

/* ===================================
	FEATURED WORK
====================================== */
.clean-port-work-details .clean-port-work-desc p a:hover{
	color: #7CD552;
}

.clean-port-work-details .clean-port-work-desc h3{
	color: #7CD552;
}

.clean-recommended-pricing{
	border: 6px solid #7CD552;
}

.recommended-titles {
	background-color: #7CD552;
}

.clean-icones{
	overflow: hidden;
	padding: 20px;
	border-bottom: 1px dotted #7CD552;
}

.clean-icones-center{
	border-left: 1px dotted #7CD552;
	border-right: 1px dotted #7CD552;
}
.clean-portfolio-work-item .clean-work-meta li{
	background-color: #7CD552;
}
/* ===================================
	PORTFOLIO
====================================== */
.clean-portfolio-filter-btn-group ul li a.selected{
	color: #7CD552;
}

.clean-portfolio-filter-btn-group ul li a {
	border-right: 1px dotted #7CD552;
}

/* ===================================
	PRICING
====================================== */
.clean-pricing-plans .clean-pricing-titles h2{
	color: #7CD552
}

.clean-pricing-plans {
	border: 5px solid  #7CD552;
}

.clean-pricing-plans .clean-pricing-titles p span{
	color: #7CD552;
}

/* ===================================
	SIGN UP 
====================================== */
.clean-pricing-plans a.clean-signup-btn{
	background-color: #7CD552;
}

.clean-pricing-plans a.clean-signup-btn:hover{
	opacity: 0.7;
}

/* ===================================
	CONTACT
====================================== */
.clean-contact-section .clean-contact-address ul li {
	background-color: #7CD552;
}

.clean-contact-section .clean-contact-form input[type='submit']{
	background-color: #7CD552;
}

.clean-contact-section .clean-contact-form input[type='submit']:hover{
	opacity: 0.7;
}

.clean-find-us-btn h3{
	color: #7CD552;
}

.clean-portfolio-information .clean-share-project ul li a:hover i{
	color: #7CD552;
}

/* ===================================
	OWL CAROUSEL 
====================================== */
.owl-theme .owl-controls .owl-page span {
	background-color: #7CD552 !important;
}

/* ===================================
	FOOTER
====================================== */
footer ul li a:hover i{
	color: #7CD552;
}